<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>NodeJs Social Authentication</title>
    <link
      rel="icon"
      type="image/png"
      href="https://icons-for-free.com/iconfiles/png/128/lock+password+protect+safety+security+icon-1320086045132546966.png"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css"
    />

    <style>
      body {
        /* padding-top: 50px; */
      }
    </style>
  </head>
  <body>
    <% if(!user) { %>
    <div class="alert alert-dismissible alert-warning m-3 col-md-4 mx-auto">
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0">
        This is just a template to show end users, how their final profile will
        look like after successfull authentication.
        <a
          href="https://shivamv12.github.io/"
          target="_blank"
          class="alert-link"
          >Contact Developer</a
        >.
      </p>
    </div>
    <% } %>

    <div class="card m-3 mx-auto col-md-4">
      <h3 class="card-header">
        <%= user ? user.provider[0].toUpperCase() + user.provider.slice(1,
        user.provider.length).toLowerCase() : 'User' %> Profile
      </h3>
      <div class="card-body">
        <h5 class="card-title">
          Fetched Data
          <i class="cog-icon fa fa-cog" aria-hidden="true"></i>
        </h5>
        <h6 class="card-subtitle text-muted">
          ** Data authenticated & authorized by user
        </h6>
      </div>
      <% if(!user) { %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="d-block user-select-none"
        width="100%"
        height="200"
        aria-label="Placeholder: Image cap"
        focusable="false"
        role="img"
        preserveAspectRatio="xMidYMid slice"
        viewBox="0 0 318 180"
        style="font-size: 1.125rem; text-anchor: middle"
      >
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
      </svg>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <% } else { %>
      <img
        class="d-block user-select-none"
        width="100%"
        height="200"
        aria-label="Placeholder: Image cap"
        focusable="false"
        role="img"
        preserveAspectRatio="xMidYMid slice"
        viewBox="0 0 318 180"
        style="font-size: 1.125rem; text-anchor: middle"
        alt="user_profile_pic"
        src="<%= user.banner_image_url %>"
      />
      <% } %>
      <div class="card-body d-flex">
        <img
          style="border-radius: 50%; height: 70px; width: 70px"
          src="<%= user && user.profile_image_url ? user.profile_image_url : 'https://www.pngjoy.com/pngm/136/2750635_gray-circle-login-user-icon-png-transparent-png.png' %>"
          alt="profile"
        />
        <p class="card-text ml-3">
        <blockquote class="blockquote text-left">
            <p class="mb-0"><%= user && user.bio ? user.bio : 'some description' %></p>
            <footer class="blockquote-footer text-right">By <cite title="Source Title">@<%= user && user.username ? user.username : 'username' %></cite></footer>
          </blockquote>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Followers: <%= user ? user.followers_count : 0 %>
        </li>
        <li class="list-group-item">
          Followings: <%= user ? user.following_count : 0 %>
        </li>
        <li class="list-group-item">
          Public Tweets: <%= user ? user.posts_count : 0 %>
        </li>
      </ul>
      <div class="card-body">
        <a href="/" class="card-link">Home Page</a>
        <% if(user && user.website) { %>
        <a target="_blank" href="<%= user.website %>" class="card-link"
          >Website</a
        >
        <% } %> <% if(user) { %>
        <a href="#" class="card-link">Log Out</a>
        <% } %>
      </div>
      <div class="row">
        <div class="col-md-4 card-footer text-muted">
          <%= new Date().toDateString();%>
        </div>
        <div class="col-md-8 text-right card-footer text-muted">
          This app is made with
          <i class="fa fa-heart-o" style="color: red" aria-hidden="true"></i> by
          <a href="https://shivamv12.github.io/" target="_blank">Shivam V</a>
        </div>
      </div>
    </div>
  </body>
</html>
